<!doctype html>
<html lang="en">
	 <head>
			<meta charset="utf-8">
			<title>UBC STUDY BUDDY- USER PROFILE</title>
			<meta name="description" content="UBC RIDESHARE">
			<meta name="Jasmine" content="SitePoint">
			<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
			<!--BOOTSTRAP-->
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
				<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
				<link rel="stylesheet" type="text/css" href="/styles.css" />
				<script src="/js/profile-clientside.js" type="text/javascript"></script>
	 </head>
	 <body class = "container-fluid">
	 <!-- menu div -->
	 <div id="menu" class="navbar navbar-default fixed-top">
				 <div id="menu-contents" class="container-fluid">
						<a href="/" class="menu-item">HOME</a>
						<a href="/user/dashboard" class="menu-item">DASHBOARD</a>
						<a href="/user/logout" class="menu-item">LOG OUT</a>
						<a href=#mainContent class="menu-item">^</a> 
				</div>
	 </div>
	 <!-- menu div -->
	 <!--main content -->
	 <div id="mainContent" class="container-fluid">
	 	<div align="center">
			<h1>Hi, <%= fname%>!</h1>
			<br>
			<br>			
			<h3>FIRST NAME: <%= fname%></h3>
			<h3>LAST NAME: <%= lname%></h3>

			<h4>USERNAME: <%= profileUsername%></h4> 
			<h4>EMAIL: <%= email%></h4>
			<br>
			<br>
			<h2>Registered Courses: </h2>
			<div id="userEnrollmentInfo"></div>
		</div>
	 </div>
	 <!--main content -->
	 </body>
	 <!--container -->
</html>